.news {



  .imageContainer {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    margin: 0px 5px 0px 0px;
  }
  .imageCenterer {
    width: 1000px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -500px;
  }
  .imageCenterer img {
    display: block;
    margin: 0 auto;
    width: 18%;
  }

  .no-padding{
    padding: 0px !important;
  }

  .news-list ion-label{
      margin: 4px 0px;
  }



}
